.header-bg{background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(7, 93, 103));
   
}
.logo{
   padding-top: 50px;
    display: block;
    margin: 0 auto;
    align-items: center;
}

.navbar{
    background-color: #facf5a;
  
}

.nav-link{
    color: black;
    text-decoration: none;

}
.nav-item{
    padding-left: 30px;
    
}
.hero{
    max-width:1400px;
    margin-bottom: 100px;
}

footer img{
    max-height: 1200px;
}


