body{margin: 30px;
    background: linear-gradient(109.6deg, rgb(212, 207, 207) 11.2%, rgb(7, 93, 103));
  
    
}

.header-bg{background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(7, 93, 103));
  
   
}
.logo{
   padding-top: 50px;
    display: block;
    margin: 0 auto;
    align-items: center;
}

.navbar{
    background-color: #facf5a;
  
}

.nav-link{
    color: #032b2f;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;

}
.nav-link:hover{
    color: rgb(255, 253, 253);
    background-color:#032b2f;
    border-radius: 5px;
}
.nav-item{
    padding-left: 30px;
    
}
.hero{
    max-width:1600px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.mailing{
    background-image: url("../images/footer.png");
    padding: 110px; 
}
.mailing h3{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Corben', cursive;
    font-weight: 500;
    
}
.bg-footer{
    text-align: center;
    font-weight:bold ;
    font-size: 15px;
    color: #ffffff;
    padding-top:30px;
    padding-bottom: 20px;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(7, 93, 103));
   
}
.socials a{
    text-decoration: none;
    color:aliceblue;  
    margin: 10px;
   
}

.sign-up{
    margin-left:420px;
}



