body{margin: 30px;
    background: linear-gradient(109.6deg, rgb(59, 57, 57) 11.2%, rgb(7, 93, 103));
  
    
}

.header-bg{background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(7, 93, 103));
  
   
}
.logo{
   padding-top: 50px;
    display: block;
    margin: 0 auto;
    align-items: center;
}

.navbar{
    background-color: #ffde59;
  
}

.nav-link{
    color: #032b2f;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;

}
.nav-link:hover{
    color: #ffde59;
    background-color:#032b2f;
    border-radius: 5px;
}
.nav-item{
    padding-left: 30px;
    
}
.hero{
    max-width:1600px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.mailing{
    background-image: url("../images/footer.png");
    padding: 110px; 
}
.mailing h3{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Corben', cursive;
    font-weight: 500;
    
}
.bg-footer{
    text-align: center;
    font-weight:bold ;
    font-size: 15px;
    color: #d9d9d9;
    padding-top:30px;
    padding-bottom: 20px;
    background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(7, 93, 103));
   
}
.socials a{
    text-decoration: none;
    color:#d9d9d9;  
    margin: 10px;
   
}

.sign-up, h3{
    margin-left:420px;
    
}

button{
    padding: 10px;
    border-radius: 5px;
    background-color:#032b2f;
    color: #d6fcec;
    font-weight: bolder;
    border: 1px solid #032b2f;
   position: relative;
   left:-10px;
}

.sign-up-btn{
    padding: 10px;
    border-radius: 5px;
    background-color:#032b2f;
    color: #d6fcec;
    font-weight: bolder;
    border: 1px solid #032b2f;
   position: relative;
   left:-10px;
    
}
.sign-up-btn:hover{
    background-color: #d6fcec;
    color: #032b2f;
   transition: 3ms ease-in-out;
}

.email{
    padding: 10px;
    border: 1px solid #032b2f;
    border-radius: 5px;
}

.sign:hover{
    cursor: pointer;
}